.admin-page {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.link-to-recipe {
  transition: 0.3s;
}

.table-responsive {
  max-height: 833px;
  overflow: auto;
}

table {
  margin-bottom: 5px;
}

thead {
  text-decoration: underline;
  position: sticky;
  top: 0;
}
