.App {
  display: flex;
  flex-direction: column;
  font-family: "Brush Script MT", cursive;
  transition: 1s;
}

.flex-horizontal {
  display: flex;
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  transition: 1s;
  padding: 10px 10px 30px 10px;
  min-width: 0;
}

.footer-basic {
  padding: 40px 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(23, 162, 184, 1) 100%
  );
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.5s;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a,
.snapchat-div {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.snapchat-div:hover {
  cursor: pointer;
}

.instagram {
  transition: 0.5s;
  &:hover {
    color: #c13584;
  }
}

.snapchat {
  transition: 0.5s;
  &:hover {
    color: #fffc00;
  }
}

.facebook {
  transition: 0.5s;
  &:hover {
    color: #3b5998;
  }
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@media only screen and (max-width: 480px) {
  .content {
    margin-left: -80px;
    padding: 10px;
  }
  .add-recipe {
    padding: 0;
  }
  .App {
    padding-top: 56px;
  }
}
