.recipe-categories {
  max-width: 900px;
  justify-content: center;
  flex-wrap: wrap;
}

.category-card {
  min-width: 200px;
  max-width: 300px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.05);
    z-index: 1;
  }
}

.category-link:hover {
  color: #212529;
  text-decoration: none;
}
