.sidebar {
  display: flex;
  height: 100vh;
  overflow: scroll initial;
  top: 0;
  transition: 1s;
  position: sticky;
  z-index: 100;
}

.opacity {
  transition: 0.5s;
  border-radius: 10px;
}

.opacity:hover {
  opacity: 0.7;
}

.bigger {
  font-size: 25px;
}

a {
  color: inherit;
}

.sidebar-footer {
  text-align: center;
}

.sidebar-footer div {
  padding: 20px 5px;
}

.user-info {
  transition: 0.5s;
  color: #d1d1d1;
  margin: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.monogram-sidebar {
  border-radius: 50%;
  background-color: #32a899;
  font-size: 13px;
  padding: 5px 6px;
  display: inline-block;
  color: #fff;
  margin-top: 10px;
  border: 1px solid #fff;
  transition: 0.5s;
}

.profile-sidebar {
  text-align: center;
}

.active-sidebar {
  background-color: #fff;
  color: #17a2b8;
}

.admin-sidebar {
  border-radius: 10px;
}

@media only screen and (max-width: 480px) {
  .sidebar {
    transform: translateX(-100%);
    height: calc(100vh - 156px);
  }
}
